.button {
  background-color: var(--text-color-default) !important;
  color: var(--text-color-purple) !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer;
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
  margin-right: 1rem !important;
}

.button.active {
  background-color: var(--text-color-purple) !important;
  color: var(--text-color-default) !important;
}
.button:hover {
  background-color: var(--text-color-light-purple) !important;
  color: var(--text-color-default) !important;
}

.button.notLast {
  margin-right: 1rem !important;
}
.button.last {
  margin-right: 0 !important;
}

.button.text {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: var(--text-color-default) !important;
}

.button.text:hover {
  color: var(--text-color-purple) !important;
}
