.teaser-card {
  /* max-width: var(--teaser-max-width);
  min-width: var(--teaser-min-width); */
  min-width: var(--teaser-min-width);
  border: 1px solid black;
  cursor: pointer;
  /* margin-left: 1rem;
  margin-bottom: 1rem; */
}

.teaser-image {
  object-fit: cover;
  width: 100%;
}

.teaser-text {
  text-align: start;
  border-top: 1px solid var(--border-color);
}
