.login-container {
  padding: 5rem 1rem 1rem 1rem;
}

.headline {
  font-size: 2rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
}

.position-relative {
  position: relative !important;
}

.login-password-icon.invalid {
  right: 40px !important;
  transform: translateY(-20%) !important;
}

.login-password-icon {
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(50%) !important;
  cursor: pointer;
  color: rgb(0, 0, 0);
  z-index: 1000 !important;
}
