.comment-container {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color-default);
}

.commentsection-header {
  margin-bottom: 1rem;
}

.commentsection-header span {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sort-button {
  background-color: var(--text-color-purple) !important;
  border: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-control:focus {
  border-color: var(--border-color) !important;
  box-shadow: none !important;
}

.comment-inputgroup {
  background-color: var(--page-background-color) !important;
  border-color: var(--border-color) !important;
  color: var(--text-color-default) !important;
}

.comment-input-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.cancel-button {
  background-color: transparent !important;
  border: 0 !important;
}

.submit-button {
  background-color: var(--text-color-purple) !important;
  color: var(--text-color-purple);
  border: 0 !important;
}

.comment-author-icon {
  color: var(--text-color-purple);
}

.comment-author-name {
  color: var(--text-color-purple);
}
