.post-information-container {
  text-align: left;
  padding: 2rem;
  width: 60%;
  margin: auto;
}

.information-options {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1440px) {
  .post-information-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .post-information-container {
    width: 100%;
  }
}
