body > footer {
  position: sticky;
  top: 100vh;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color-black);
  color: var(--text-color-default);
  font-size: var(--text-size);
}

.company-name {
  font-family: "Prisma", sans-serif;
  color: var(--text-color-purple);
}

.social-media-icons {
  cursor: pointer;
  font-size: 2rem !important;
}

.social-media-icons:hover {
  color: var(--text-color-light-purple);
  font-size: 2.5rem !important;
}
