.detail-post-container {
  /* width: 50%; */
  margin: auto;
}

@media only screen and (max-width: 1080px) {
  .detail-post-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .detail-post-container {
    width: 100%;
  }
}
