.custom-navbar {
  background-color: transparent !important;
  color: var(--text-color-default) !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

.custom-navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-purple) !important;
}
.custom-navbar-logo > span {
  font-family: "Prisma", sans-serif !important;
}

.custom-navbar-logo-icon {
  margin-right: 0.5rem;
}

.custom-navbar-logo:hover {
  color: var(--text-color-light-purple) !important;
}

.search-box {
  min-width: 19.1875rem;
}

.user-icon-popover {
  background-color: var(--background-color-black) !important;
  border-color: var(--border-color) !important;
  max-width: 15rem !important;
}

.user-icon-popover-header {
  color: var(--text-color-default) !important;
  font-size: var(--text-size);
}

.user-icon {
  width: 2rem;
  height: 2rem;
}

.user-icon.active {
  color: var(--text-color-purple);
}
