.custom-navbar {
  background-color: var(--background-color-black) !important;
  color: var(--text-color-default) !important;
}

.custom-navbar-link {
  color: var(--text-color-default) !important;
}

.custom-navbar-link:hover {
  color: var(--text-color-purple) !important;
}

.search-box {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 4px;
}

.navbar-toggler-icon {
  color: var(--text-color-default) !important;
}

.navbar-user-icon-active {
  color: var(--text-color-purple) !important;
}
