body > footer {
  position: sticky;
  top: 100vh;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--component-background-color);
  color: var(--component-text-color);
  font-size: var(--component-text-size);
}

.social-media-icons {
  cursor: pointer;
}

.social-media-icons:hover {
  color: var(--component-background-color-hover);
}
