body > footer {
  position: sticky;
  top: 100vh;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color-black);
  color: var(--text-color-default);
  font-size: var(--text-size);
}

.social-media-icons {
  cursor: pointer;
}

.social-media-icons:hover {
  color: var(--text-color-purple);
}
