:root {
  --page-background-color: rgb(30, 30, 30);
  --component-background-color: rgb(43, 48, 53);
  --component-text-color: rgb(255, 255, 255);
}

html,
body {
  background-color: var(--page-background-color);
}

.main-container {
  min-height: calc(100vh - 100px);
  background-color: var(--page-background-color);
}
