/* https://dribbble.com/shots/2623175-MediaMe-Film-Card/attachments/524445?mode=media */

:root {
  --page-background-color: rgb(30, 30, 30);
  --background-color-black: rgb(10, 10, 10);
  --border-color: rgb(200, 200, 200);
  --searchbar-background-color: rgb(57, 62, 70);

  --text-color-default: rgb(255, 255, 255);
  --text-color-grey: rgb(147, 145, 154);
  --text-color-purple: rgb(88, 71, 208);
  --text-color-light-purple: rgb(105, 84, 248);
  --text-color-gold: rgb(255, 215, 0);
  --text-size: 1rem;

  --teaser-max-width: 400px;
  --teaser-min-width: 300px;
}

.main-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background-color-black);
  color: var(--text-color-default) !important;
  font-size: var(--text-size) !important;

  font-family: "Roboto", sans-serif !important;
}

.content-container {
  min-height: calc(100vh - 128px - 72px + 4.4rem);
  background-color: var(--page-background-color);
  text-align: center;
}

@font-face {
  font-family: "Prisma";
  src: url("./assets/fonts/prisma/Prisma.ttf") format("truetype");
}

@font-face {
  font-family: "Cinema";
  src: url("./assets/fonts/cinematic_language/Cinematic-Language.ttf")
    format("truetype");
}
