.error-container {
  overflow-x: hidden;
  padding: 1rem;
}

.error-icon {
  width: 10rem;
  height: 10rem;
  color: var(--text-color-purple);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error-text {
  font-size: clamp(1.5rem, 2.5vw + 1rem, 4rem);
  font-style: italic;
}
